<template>
  <div class="modal" v-bind:class="{'is-active' : this.active}">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Define el predicado simple</p>
      </header>
      <section class="modal-card-body">
        <div class="field is-grouped is-grouped-multiline">
          <div class="select">
            <select class="select" @change="cambio()" v-model="atributo">
              <option
                v-for="(Atributo, index) in this.Atributos"
                v-bind:key="index"
                v-bind:value="index"
              >{{Atributo.nombre}}</option>
            </select>
          </div>
          <div class="select">
            <select class="select" v-model="operador">
              <option
                v-for="(Operador,index) in Operadores"
                v-bind:key="index"
                v-bind:value="index"
              >{{Operador.value}}</option>
            </select>
          </div>
          <div class="control">
            <input class="input" type="text" placeholder="Valor" v-model="valor">
          </div>
        </div>
      </section>
      <footer class="modal-card-foot">
        <button class="button is-success" @click="Agregar">Agregar</button>
        <button class="button is-danger" @click="Close">Cancelar</button>
      </footer>
    </div>
  </div>
</template>
<script>
export default {
  name: "addSimplePredicated",
  data() {
    return {
      atributo: "",
      valor: "",
      operador: "<",
      Operadores: [],
      tipodato: "",
      id: 0
    };
  },
  props: {
    active: Boolean,
    Atributos: Array
  },
  methods: {
    Close() {
      this.operador = "<";
      this.atributo = this.Atributos[0].nombre;
      this.valor = "";
      this.$emit("closed", { status: false });
    },
    Agregar() {
      var isMinimum = true; //Verificar que sea un predicado con minimalidad
      if (isMinimum) {
        this.$emit("closed", {
          status: true,
          atributo: this.Atributos[this.atributo].nombre,
          operador: this.Operadores[this.operador].value,
          valor: this.valor,
          tipo: this.tipodato,
          id: this.id++ + "A"
        });
        this.tipodato = "";
        this.operador = "<";
        this.atributo = this.Atributos[0].nombre;
        this.valor = "";
      } else {
        alert("NO ES UN PREDICADO SIMPLE MINIMO");
      }
    },
    cambio() {
      if (this.atributo) {
        if (this.Atributos[this.atributo].tipo.includes("char")) {
          this.Operadores = [{ value: "=" }, { value: "like" }];
          this.tipodato = "cadena";
        } else {
          if (
            this.Atributos[this.atributo].tipo.includes("int") ||
            this.Atributos[this.atributo].tipo.includes("double")
          ) {
            this.tipodato = "numero";
            this.Operadores = [
              { value: "<" },
              { value: ">" },
              { value: "=<" },
              { value: ">=" },
              { value: "=" },
              { value: "<>" }
            ];
          }
        }
      }
    }
  },
  watch: {
    Atributos: function() {
      console.log(this.Atributos);
      this.atributo = this.Atributos[0].nombre;
    }
  }
};
</script>
