<template>
  <div>
    <simplePredicatesList :Predicates="simplePredicates"/>
    <div class="field is-centered">
      <button class="button is-info is-inverted is-rounded" @click="addPredicate">
        <span class="icon is-small is-center">
          <i class="fas fa-plus-circle fa-3x"></i>
        </span>
      </button>
    </div>
    <addSimplePredicate :Atributos="this.Relacion.atributos" :active="active" @closed="closeModal"/>

    <div class="section has-text-centered">
      <div v-if="this.simplePredicates.length>=4" class="container has-text-centered">
        <div class="select">
          <select v-model="predicado">
            <option disabled selected>Selecciona un predicado</option>
            <option v-for="(Predicate,key) of this.predicados" :key="key">{{Predicate}}</option>
          </select>
        </div>
      </div>
      <button class="button is-info">Hacer fragmento</button>
    </div>
  </div>
</template>
<script>
import addSimplePredicate from "@/components/addSimplePredicate.vue";
import simplePredicatesList from "@/components/simplePredicatesList.vue";
import { QueryGenerator, queryConcat } from "../Scripts/query.js";
import { Negativer } from "../Scripts/predicateparser";
import {
  tableGen,
  databaseGen,
  dataDumper,
  insertInto
} from "../Scripts/tableGen";
export default {
  components: {
    addSimplePredicate,
    simplePredicatesList
  },
  props: {
    Relacion: Object,
    database: Object,
    Actualdatabase: String
  },
  data() {
    return {
      active: false,
      simplePredicates: [],
      predicados: [],
      sitio: [
        {
          nombre: "eric",
          ip: "127.0.0.1",
          port: "3306",
          user: "root",
          pass: "2312"
        }
      ],
      predicado: "",
      checked: new Set()
    };
  },
  methods: {
    predicateGather(id) {
      for (var predicate of this.simplePredicates) {
        if (predicate.id === id) {
          return predicate;
        }
      }
    },
    getInsert(relacion, strs) {
      var objs = [];
      for (var cad of strs) {
        objs.push(JSON.parse(cad));
      }
      const keys = Object.keys(objs[0]);
      var query = "insert into " + relacion + " values";
      for (var obj of objs) {
        query += "(";
        for (var key of keys) {
          query += obj[key] + ",";
        }
        query = query.split(0, query.length - 1);
        query += "),";
      }
      query = query.split(0, query.length - 1);
      query += ";";
      return query;
    },
    async setFrag() {
      try {
        var database =
          "create database if not exists " + this.Actualdatabase + ";";
        var obj = {
          actual: this.Actualdatabase,
          atributos: this.Relacion.atributos,
          relacion: this.Relacion.nombre
        };
        var table = tableGen([obj])[0];
        /*var predicates = this.predicado.split(":");
        var predicate1 = this.predicateGather(predicates[0]);
        var predicate2 = this.predicateGather(predicates[1]);
        var query = QueryGenerator(1, predicate1, this.Relacion.nombre);
        var query2 = QueryGenerator(1, predicate2, this.Relacion.nombre);
        var data = await this.database.runQuery(query, this.Relacion.nombre);
        var data2 = await this.database.runQuery(query2, this.Relacion.nombre);
        var datos1 = [];
        for (var tupla of data.results) {
          datos1.push(JSON.stringify(tupla));
        }
        var datos2 = [];
        for (var tupla of data2.results) {
          datos2.push(JSON.stringify(tupla));
        }
        var inter = intersect(datos1, datos2);
        var insert = this.getInsert(this.Relacion.nombre, inter);
        console.log(database);
        console.log(table);
        console.log(insert);*/
      } catch (e) {
        console.log(e);
      }
    },
    predicateSetter(predicateA, predicateB) {
      if (this.doit(predicateA, predicateB)) {
        this.predicados.push(predicateA.id + ":" + predicateB.id);
        console.log(predicateA, predicateB);
      }
    },
    predicateGetter(name) {
      for (var predicate of this.simplePredicates) {
      }
    },
    checkToStyles(P1, P2) {
      var style1 = P1.id + ":" + P2.id;
      var style2 = P2.id + ":" + P1.id;
      if (this.checked.has(style1) || this.checked.has(style2)) {
        return false;
      } else {
        this.checked.add(style1);
        this.checked.add(style2);
        return true;
      }
    },
    mixAndLoad() {
      for (var predicate1 of this.simplePredicates) {
        for (var predicate2 of this.simplePredicates) {
          if (
            this.checkToStyles(predicate1, predicate2) &&
            this.check(predicate1, predicate2)
          ) {
            this.predicateSetter(predicate1, predicate2);
          }
        }
      }
    },
    closeModal(data) {
      try {
        console.log(data);
        if (data) {
          if (data.status) {
            var data2 = Negativer(data);
            var query = QueryGenerator(1, data, this.Relacion.nombre);
            var query2 = QueryGenerator(1, data2, this.Relacion.nombre);
            this.database.connection.query(query, (error, results, fields) => {
              console.log(query);
              if (error) throw error;
              if (results.length > 0 && data.status) {
                this.database.connection.query(
                  query2,
                  (error, results, fields) => {
                    if (error) throw error;
                    if (results.length > 0 && data.status) {
                      this.simplePredicates.push(data);
                      this.simplePredicates.push(data2);
                      alert("Minitermino obtenido.");
                      if (this.simplePredicates.length >= 4) {
                        this.mixAndLoad();
                      }
                    } else {
                      alert("Predicado invalido");
                    }
                  }
                );
              } else {
                alert("Predicado invalido");
              }
            });
          }
        }
      } catch (error) {
        console.log(error);
      }
      this.active = false;
    },
    addPredicate() {
      this.active = true;
    },
    predicateGatter(id) {
      for (var predicado of this.simplePredicates) {
        if (predicado.id === id) {
          return predicado;
        }
      }
      return false;
    },
    check(p1, p2) {
      console.log(p1, p2);
      if (
        p1.id.slice(0, p1.id.length - 1) === p2.id.slice(0, p2.id.length - 1)
      ) {
        return false;
      }
      return true;
    },
    async doit(predicadoA, predicadoB) {
      try {
        var predicate1 = predicadoA;
        var predicate2 = predicadoB;
        var query = QueryGenerator(1, predicate1, this.Relacion.nombre);
        var query2 = QueryGenerator(1, predicate2, this.Relacion.nombre);
        var data = await this.database.runQuery(query, this.Relacion.nombre);
        var data2 = await this.database.runQuery(query2, this.Relacion.nombre);
        if (data.results.length > 0 && data2.results.length > 0) {
          var datos1 = [];
          for (var tupla of data.results) {
            datos1.push(JSON.stringify(tupla));
          }
          var datos2 = [];
          for (var tupla of data2.results) {
            datos2.push(JSON.stringify(tupla));
          }
          var inter = intersect(datos1, datos2);
          if (inter.length > 0) {
            console.log(inter.length);
            return true;
          }
        } else {
          return false;
        }
      } catch (e) {
        console.log(e);
        return false;
      }
    } /*
    async carga() {
      
      var ids = new Set();
      /*
      for (var predicate1 of this.simplePredicates) {
        for (var predicate2 of this.simplePredicates) {
          if (
            JSON.stringify(predicate1) !== JSON.stringify(predicate2) &&
            predicate1.id !== predicate2.id &&
            predicate1.id.replace("A", "") !== predicate2.id.replace("B", "")
          ) {
            try {
              console.log(
                queryConcat([predicate1, predicate2], this.Relacion.nombre)
              );
              var data = await this.database.runQuery(
                queryConcat([predicate1, predicate2], this.Relacion.nombre)
              );
              console.log(
                data
              );
              if (results.length > 0) {
                console.log(predicate1, predicate2);
              }
              ids.add(predicate1.id + ":" + predicate2.id);
            } catch (e) {
              console.log(e);
            }
          }
        }
        
      }
    }*/
  },
  watch: {
    Relacion: function() {
      this.simplePredicates = [];
    }
  }
};
function intersect(a, b) {
  var t;
  if (b.length > a.length) (t = b), (b = a), (a = t); // indexOf to loop over shorter
  return a.filter(function(e) {
    return b.indexOf(e) > -1;
  });
}
function StringToObject(strings) {
  var objs = [];
  for (var str of strings) {
    objs.push(JSON.parse(str));
  }
  return objs;
}
function filter(predicates) {
  var combos = [];
  for (var predicate of predicates) {
  }
}
</script>
