<template>
  <div class="section box is-marginless is-shadowless has-text-centered">
    <div class="columns is-centered is-multiline is-mobile is-tablet is-desktop">
      <ControlButton msg="Vertical" @clicked="onclickControlButton"/>
      <ControlButton msg="Horizontal" @clicked="onclickControlButton"/>
      <div class="column is-10-mobile is-10-tablet is-10-desktop has-text-centered">
        <div class="title">{{this.Objetivo}}</div>
      </div>
      <div class="column is-6-mobile is-4-tablet is-2-desktop has-text-left">
        <RelationSelect
          v-if="!hiddenDB"
          :name="'base de datos'"
          :Databases="databases"
          @changed="onChangeDatabase"
        />
      </div>
      <div class="column is-6-mobile is-4-tablet is-2-desktop has-text-left">
        <RelationSelect
          v-if="!hiddenRelations"
          :name="'relacion'"
          :Relations="Relaciones"
          @changed="onChangeRelation"
        />
      </div>
    </div>
    <!--  -->
    <div class="container has-text-centered is-fluid">
      <div class="columns is-centered is-multiline is-mobile is-tablet is-desktop">
        <div class="column is-10-mobile is-10-tablet is-12-desktop">
          <RelationDescription
            v-if="Relaciones.length>0"
            :Atributos="Relaciones[chosenR].atributos"
          />
        </div>
        <div
          v-if="!hiddenRelations && !hiddenDB"
          class="column is-10-mobile is-10-tablet is-12-desktop"
        >
          <template v-if="Objetivo === 'Horizontal'">
            <Horizontal
              :database="database"
              :Actualdatabase="this.actualdatabase"
              :Relacion="Relaciones[chosenR]"
            />
          </template>
          <template v-else>
            <Vertical
              :database="database"
              :actualdatabase="actualdatabase"
              ref="Vertical"
              :Relacion="Relaciones[chosenR]"
              :Sitios="Sitios"
            />
          </template>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ControlButton from "./ControlButton.vue";
import RelationSelect from "./RelationSelect";
import RelationDescription from "./RelationDescription";
import Horizontal from "./Horizontal";
import Vertical from "./Vertical";
import { getSelectOptions, getSitios } from "../Scripts/Body";
import DatabaseConnector from "../Scripts/test";
var database = new DatabaseConnector("47.254.93.16", "user", "password");
var relaciones = "";
function getRelationsDatabase(databasename) {
  return new Promise(resolve => {
    database.setDatabase(databasename).then(() => {
      database.getTablesRelation().then(relaciones => {
        resolve(relaciones);
      });
    });
  });
}
export default {
  components: {
    ControlButton,
    RelationDescription,
    RelationSelect,
    Vertical,
    Horizontal
  },
  data() {
    return {
      Objetivo: "Vertical", //"Horizontal",
      chosenR: 0,
      Relaciones: [],
      Sitios: getSitios(),
      database: database,
      databases: [],
      hiddenRelations: true,
      hiddenDB: true,
      actualdatabase: ""
    };
  },
  methods: {
    onclickControlButton(value) {
      this.Objetivo = value;
    },
    onChangeRelation(value) {
      this.chosenR = value;
      console.log(this.chosenR);
    },
    getSelectOptions() {},
    setDatabases() {
      database.getDatabases().then(databases => {
        console.log(databases);
        this.databases = databases;
        this.hiddenDB = false;
      });
    },
    onChangeDatabase(value) {
      this.actualdatabase = value;
      getRelationsDatabase(value).then(relaciones => {
        this.Relaciones = relaciones;
        this.hiddenRelations = false;
      });
    }
  },
  beforeMount() {
    this.setDatabases();
  }
};
</script>

