<template>
  <div class="column is-6-mobile is-6-tablet is-6-desktop">
    <button
      class="button is-fullwidth is-primary is-small"
      :id="this.msg"
      @click="onClickButton"
    >{{this.msg}}</button>
  </div>
</template>
<script>
export default {
  props: {
    msg: String
  },
  methods: {
    onClickButton() {
      this.$emit("clicked", this.msg);
    }
  }
};
</script>

