<template>
  <footer class="footer has-background-info">
    <div class="content has-text-centered has-background-info is-fixed-bottom">
      <h1 class="title is-4 has-text-white">ESCOM</h1>
    </div>
  </footer>
</template>
<style>
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
</style>
