<template>
  <tr>
    <td class="has-text-centered">{{nFragmento}}</td>
    <td
      class="has-text-centered"
      v-for="Atributo in Atributos"
      v-bind:key="`F${nFragmento}${Atributo.nombre}`"
    >
      <input
        type="checkbox"
        v-bind:name="`F${nFragmento}${Atributo.nombre}`"
        v-bind:checked="Atributo.key === 'PRI'"
        :disabled="Atributo.key === 'PRI'"
      >
      <template v-if="Atributo.key === 'PRI'">
        <input
          :name="`F${nFragmento}${Atributo.nombre}`"
          type="checkbox"
          :checked="Atributo.key === 'PRI'"
          class="is-hidden"
        >
      </template>
    </td>
    <td class="has-text-centered">
      <span class="select">
        <select class="select" v-bind:name="`F${nFragmento}Sitio`">
          <option
            v-for="Sitio in Sitios"
            v-bind:key="Sitio.id"
            v-bind:value="Sitio.id"
          >{{Sitio.nombre}}</option>
        </select>
      </span>
    </td>
  </tr>
</template>
<script>
export default {
  props: {
    Atributos: Array,
    nFragmento: Number,
    Sitios: Array
  }
};
</script>

