<template>
  <div class="header">
    <div class="content has-text-centered has-background-info is-block">
      <h1 class="title is-4 has-text-white is-centered">Fragmentador BD</h1>
    </div>
  </div>
</template>
