<template>
  <div class="column is-fullwidth">
    Selecione una {{this.name}}:
    <br>
    <div class="select">
      <select v-if="Relations!==undefined" @change="onChangeSelect()" v-model="selectedOption">
        <option
          v-for="(Relation,key) in this.Relations"
          v-bind:key="key"
          v-bind:value="key"
        >{{Relation.nombre}}</option>
      </select>
      <select v-else @change="onChangeSelect()" v-model="selectedOption">
        <option
          v-for="(database,key) in this.Databases"
          v-bind:key="key"
          v-bind:value="database"
        >{{database}}</option>
      </select>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      selectedOption: 0
    };
  },
  props: {
    Relations: Array,
    name: String,
    Databases: Array
  },
  methods: {
    onChangeSelect() {
      this.$emit("changed", this.selectedOption);
    }
  }
};
</script>