<template>
  <div class="table-container">
    <table class="table is-narrow is-fullwidth is-bordered">
      <thead>
        <tr>
          <th
            v-for="(Atributo, index) in this.Atributos"
            v-bind:key="`Atr${index}`"
            class="is-info"
          >{{`Atributo ${index + 1}`}}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td
            v-for="Atributo in this.Atributos"
            v-bind:key="Atributo.nombre"
            v-bind:class="{'back' : Atributo.key=== 'PRI'}"
          >{{`${Atributo.nombre}`}}</td>
        </tr>
        <tr>
          <td
            v-for="Atributo in this.Atributos"
            v-bind:key="Atributo.nombre"
            v-bind:class="{'back' : Atributo.key=== 'PRI'}"
          >{{`${Atributo.tipo}`}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>
<script>
export default {
  props: {
    Atributos: Array
  }
};
</script>
<style scoped>
.back {
  background: #2bd9fe;
}
</style>

