<template>
  <div class="box table-container">
    <table class="table is-fullwidth">
      <thead>
        <td class="is-info">ID</td>
        <td class="is-info">Nombre</td>
        <td class="is-info">Operador</td>
        <td class="is-info">Valor</td>
      </thead>
      <tbody>
        <tr v-for="(Predicate, index) in this.Predicates" v-bind:key="index">
          <td>{{Predicate.id}}</td>
          <td>{{Predicate.atributo}}</td>
          <td>{{Predicate.operador}}</td>
          <td>{{Predicate.valor}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>
<script>
export default {
  name: "simplePredicatesList",
  props: {
    Predicates: Array
  }
};
</script>
