<template>
  <div class="content">
    <div class="control">
      <div class="columns is-centered is-multiline is-mobile is-tablet is-desktop">
        <div class="column is-12">
          <div class="select is-fullwidth">
            <select v-model="value" @change="agregar">
              <option v-for="(atributo,key) in this.atributosR" :key="key">{{atributo.nombre}}</option>
            </select>
          </div>
        </div>
        <div class="column is-6">
          <div class="text has-text-centered is-small">
            <code>{{this.atributos}}</code>
          </div>
        </div>
        <div class="column is-6">
          <div class="select is-fullwidth">
            <select v-model="newSitio">
              <option v-for="(Sitio,key) in this.Sitios" :key="key">{{Sitio.nombre}}</option>
            </select>
          </div>
        </div>
        <div class="column is-12">
          <div class="control">
            <button @click="agregaFragmento" class="button is-info is-fullwidth button">Agregar</button>
          </div>
        </div>
      </div>
      <div class="list is-hoverable has-text-centered">
        <div v-for="(fragmento, index) in fragmentos" :key="index">
          <a class="list-item">
            Atributos:&nbsp;&nbsp; {{fragmento.atributos.map((atributo)=>{return atributo.nombre})}} &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp; Sitio: &nbsp;&nbsp; {{fragmento.sitio.nombre}}
            &nbsp;&nbsp;&nbsp;
            <span
              class="icon is-left"
              @click="deleteFragment(index)"
            >
              <i class="fas fa-minus-circle"></i>
            </span>
          </a>
        </div>
      </div>
      <div v-if="this.fragmentos.length>0" class="control has-text-centered">
        <button @click="fragmentar" class="is-fullwidth is-info button">Hacer fragmentacion</button>
      </div>
    </div>
  </div>
</template>
<script>
import DatabaseConnector from "../Scripts/test";
import { Sitios } from "@/Scripts/Sitios.js";
import {
  tableGen,
  databaseGen,
  dataDumper,
  insertInto
} from "../Scripts/tableGen";
import { log } from "util";
import { Promise } from "q";
export default {
  props: {
    actualdatabase: String,
    Relacion: Object,
    database: Object
  },
  data() {
    return {
      value: "",
      atributos: [],
      atributosR: [],
      Sitios: Sitios,
      ip: "",
      port: "",
      user: "",
      pass: "",
      nombre: "",
      newSitio: "",
      fragmentos: [],
      addsitio: false
    };
  },
  methods: {
    verSelected() {
      console.log(this.value);
    },
    agregar() {
      console.log(this.value);
      var agregar = true;
      for (var atributo of this.atributos) {
        if (atributo === this.value) {
          agregar = false;
        }
      }
      if (agregar) {
        this.atributos.push(this.value);
        this.buscarElem(this.value);
      }
    },
    agregarSitio() {
      if (
        this.nombre.length > 0 &&
        this.ip.length > 0 &&
        this.port.length > 0 &&
        this.user.length > 0 &&
        this.pass.length > 0
      ) {
        if (!this.validaExistencia(this.nombre)) {
          this.Sitios.push({
            nombre: this.nombre,
            ip: this.ip,
            port: this.port,
            user: this.user,
            pass: this.pass
          });
          this.addsitio = false;
          this.clearSitio();
        }
      }
    },
    agregaFragmento() {
      if (this.validaExistencia(this.newSitio)) {
        var atributos = [];
        for (var atributo of this.atributos) {
          atributos.push(this.buscarElem(atributo));
        }
        var obj = {
          atributos: atributos,
          sitio: this.getSitio(this.newSitio),
          relacion: this.Relacion.nombre,
          actual: this.actualdatabase
        };
        this.fragmentos.push(obj);
        console.log(obj);
        this.newSitio = "";
        this.value = "";
        this.atributos = [];
        this.load();
      } else {
      }
    },
    switch() {
      this.addsitio = true;
    },
    load() {
      this.atributos = [];
      this.atributosR = [];
      for (var atributo of this.Relacion.atributos) {
        if (atributo.key === "PRI") {
          this.atributos.push(atributo.nombre);
        } else {
          this.atributosR.push(atributo);
        }
      }
    },
    fragmentar() {
      var a = databaseGen(this.fragmentos);
      var b = tableGen(this.fragmentos);
      console.log(this.fragmentos);
      var selects = dataDumper(this.fragmentos);
      var inserts = insertInto(this.fragmentos);
      var promises = [];
      for (var i = 0; i < selects.length; i++) {
        promises.push(this.database.getDataToInsert(inserts[i], selects[i]));
      }
      var promise = Promise.all(promises);
      promise.then(res => {
        this.createfragment(a, b, res);
      });
    },
    async createfragment(databases, tables, inserts) {
      try {
        for (var i = 0; i < tables.length; i++) {
          var database = new DatabaseConnector(
            this.fragmentos[i].sitio.ip,
            this.fragmentos[i].sitio.user,
            this.fragmentos[i].sitio.pass,
            this.fragmentos[i].sitio.port
          );
          await database.executeQuery(databases[i]);
          await database.setDatabase(this.actualdatabase);
          await database.executeQuery(tables[i]);
          await database.executeQuery(inserts[i]);
        }
      } catch (e) {
        console.log(e);
      }
    },
    buscarElem(elem) {
      for (var atributo of this.Relacion.atributos) {
        if (elem === atributo.nombre) {
          return atributo;
        }
      }
    },
    clearSitio() {
      this.nombre = "";
      this.ip = "";
      this.port = "";
      this.user = "";
      this.pass = "";
    },
    validaExistencia(nombre) {
      for (var sitio of this.Sitios) {
        if (sitio.nombre === nombre) {
          return true;
        }
      }
      return false;
    },
    getSitio(nombre) {
      for (var sitio of this.Sitios) {
        if (sitio.nombre === nombre) {
          return sitio;
        }
      }
    },
    deleteFragment(index) {
      this.fragmentos.splice(index, 1);
    }
  },
  watch: {
    Relacion: function(newVal, oldVal) {
      this.atributos = [];
      this.atributosR = [];
      for (var atributo of this.Relacion.atributos) {
        if (atributo.key === "PRI") {
          this.atributos.push(atributo.nombre);
        } else {
          this.atributosR.push(atributo);
        }
      }
    }
  },
  mounted() {
    this.load();
  }
};
</script>