<template>
  <!-- <section class="is-info" id="app"> -->
  <div>
    <Header class="is-paddingless"/>
    <!-- <div class="hero-body is-large"> -->
    <Body/>
    <!-- </div> -->
  </div>
  <!-- </section> -->
</template>

<script>
import Header from "./components/Header.vue";
import Body from "./components/Body.vue";
import Footer from "./components/Footer.vue";

export default {
  name: "app",
  components: {
    Header,
    Body,
    Footer
  }
};
</script>